.fixed {
	.column-nth_thumb {
		width: 62px;
		text-align: center;
		color: #999;
	}
	.column-taxonomy-portfolio_cat, .column-taxonomy-portfolio_tag {
		width: 15%;
	}
}
table.wp-list-table {
	td.column-nth_thumb {
		text-align: center;
		img {
			margin: 0;
			vertical-align: middle;
			width: auto;
			height: auto;
			max-width: 50px;
			max-height: 50px;
		}
	}
}